html,
body {
    margin: 0;
    -webkit-app-region: drag;
    background: #4545ff;
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 40px;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.body {
    padding: 20px;
}

label {
    display: block;
    margin: 20px 0 5px;
}

#main {
}

#login {
    font-size: 16px;
}